@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
//CSS Variables
:root{
    --color1 : #FF6978;
    --color2 : #FFFCF9;
    --color3 : #B1EDE8;
    --color4 : #051D40;
    --color5 : grey;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

//Navbar
header{
    .navbar{
        box-shadow: 0 5px 15px rgba(0,0,0,0.6);
        .navbar-toggle{
            position: absolute;
            top: 1.7rem;
            right: 1rem;
            text-decoration: none;
            color: #051D40;
            display: none;
        }
        .navbar-links{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #051D40;
                    padding: 1em;
                    display: block;
                }
            }
        }
    }
}

//Hero section
.hero-section{
    padding: 2em;
    height: 100vh;
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3rem;
    }
}

//About section
#about{
    .features{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0em 1em;
        flex-wrap: wrap;
        .neumorphism-box{
            text-align: center;
            border: 1px solid white;
            width: 30vw;
            background: #ffffff;
            box-shadow:  20px 20px 60px #d9d9d9,-20px -20px 60px #ffffff;
        }
        h2{
            color: #051D40;
        }
    }
}

#footer{
    background-color: var(--color4);
    padding: 1em 0em;
    .container-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        h4{
            color: white;
            text-transform: uppercase;
            padding: 0.5em 0em;
        }
        ul{
            list-style: none;
            li{
                     padding: 0.4em 0em;
    
                a{
                    text-decoration: none;
                    color: grey;
                    text-transform: uppercase;
    
                    &:hover{
                        color: var(--color1);
                        padding-left: 0.2em;
                        transition: 1s ease;
                    }
                }
            }
        }
    }
}

//Media Queries (Small Screens):
@media (max-width:768px){
    header{
        .navbar{
            flex-direction: column;
            align-items: flex-start;
            .navbar-toggle{
                display: flex;
            }
            .navbar-links{
                display: none;
                width: 100%;
                flex-direction: column;
               ul{
                    width: 100%;
                    li{
                        text-align: center;
                        a{
                            padding: .5rem 1rem;
                        }
                    }
               }
            }
        }
    
        .navbar-links.active{
            display: flex;
        }
    }
    .hero-section{
        flex-direction: column-reverse;
        padding: 1em;
        h1{
            font-size: 2.5rem;
            text-align: center;
        }
        h2{
            font-size: 1.5rem;
            text-align: center;
        }
        img{
            width: 80vw;
        }
    }
    #about{
        .features{
            flex-direction: column;
            .neumorphism-box{
                margin: 1em 0em;
                width: 80vw;
            }
        }
    }
    #footer{
       .container-footer{
        display: block;
        text-align: center;
       }
    }
}




//Utilities:
.flex{
    display: flex;
}
.flex-jcsb{
    justify-content: space-between;
}
.flex-aic{
    align-items: center;
}
.flex-fdc{
    flex-direction: column;
}
.flex-jcsa{
    justify-content: space-around;
}
p{
    font-weight: 300;
}